.Header{
    height: 60px;
    width: 100%;
    display: flex;
    background-color: rgba(30, 100, 180, 0.596);
    position: fixed;
    top: 0;
    font-size: 25px;
}

.linksDiv{
    width:50%;
    text-align: center;
    padding: 18px;
    text-decoration: none;
    color: black;
}

.CartLength{
    position: relative;
    top: -10px;
    left: 9px;
    height: 25px;
    width: 25px;
    font-size: 20px;
    border-radius: 50%;
    display: inline-block;
    background-color: red;
}

.active{
    background-color: rgba(20, 11, 155, 0.397);
    border: solid 2px black;
}