.subtotal {
    margin-left:20px;
    font-weight: bold;
    font-size: 20px;
}
  
.subtotalValue {
    font-weight: bold;
    font-size: 20px;
    float: right;
    margin-right: 20px;
}

.checkout {
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
    width:95%;
    height:40px;
    background-color:rgba(7, 97, 133, 0.541);
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: none;
}

.checkout:hover{
  background-color:rgb(7, 97, 133);
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.CartFooter{
    border-top: solid 2px black;
}